/* =================================
            Main Content
================================= */

body {
    background-image: url(../images/bg.png);
    overflow-x: hidden;
}

#title h1 {
    text-align: center;
    background-color: #4cd5f7;
    margin: 30px 10%;
    padding: 15px 0;
    font-style: italic;
}

#instructions {
    background-color: #fca420;
    padding: 5%;
}

#game {
    margin-top: 15px;
    height: 250px;
    background-color: #4cd5f7;
    text-align: center;
    padding: 10px;
}

#timer {
    margin: 10px 0;
    font-style: italic;
}

#score {
    background-color: #fca420;
    padding: 5%;
    margin-top: 15px;
    text-align: center;
}

#userScore {
    font-size: 24px;
}